body {
    margin: 0;
    background: #1B244A;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
} 


.score {
    background: #0a0001;
    border-radius: 3px;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.button {
    border: 1px solid #9AABD8;
    color: #9AABD8;
    background: none;
    border-radius: 3px;
    padding: 8px 8px 8px 8px
}